  /*FOOTER */ 
  
  .footer-top {
    width: 100%;
    height: 27rem;
    background-image: url(../img/footer-bg.jpg);
    overflow: hidden;
  }
  .footer-top .footer-container-top {
    position: relative;
  }
  .footer-top .footer-container-top .footer-links-container {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .dc-comics-links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    line-height: 1.7em;
    margin-right: 10px;
  }
  .dc-comics-links a {
    text-decoration: none;
    color: $textLightGrey;
  }
  .title-links {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  .dc-logo-background {
    width: 550px;
    position: absolute;
    overflow: hidden;
    top: -100px;
    right: 0;
  }
  .footer-bottom {
    height: 6rem;
    background-color: $footerBackground;
    position: relative;
    z-index: 10;
  }
  .footer-bottom .footer-container-bottom {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer-bottom .footer-container-bottom .btn-container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .footer-bottom .footer-container-bottom .btn-container button {
    background-color: transparent;
    padding: .8em;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border: 3px solid $activeColor;
    cursor: pointer;
    transition: all .6s;
  }
  .footer-bottom .footer-container-bottom .btn-container button:hover {
    background-color: $activeColor;
  }
  .follow-container {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .follow-container span {
    font-weight: bold;
    color: $activeColor;
    font-size: 18px;
  }
  .follow-container img {
    cursor: pointer;
  }