  /* COMIC BLADE PHP : */

  .container {
    position: relative;
    height: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
  }

  h1 {
      text-transform: uppercase;
      color: #003F5E;
  }
  .container-jumbotron {
    height: 30rem;
    img {
       object-fit: cover;
       object-position: top;
       height: 100%;
       width: 100%;
    }
  }
  .blue-line {
    width: 100%;
    background-color: $activeColor;
    height: 4rem;
  }
  
  .single-img {
    width: 12rem;
    height: 18rem;
    position: absolute;
    bottom: 1rem;
    left: 0;
    border: 1px solid white;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
  }
  
  .container-description {
      background-color: #fff;
      padding: 4rem 0;
   
      .container {
         display: flex;
         justify-content: flex-start;
  }
  }

.green-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #55BA59;
    height: 3rem;
    margin: 1.2rem 0;
    font-weight: 600;
    border-bottom: 1px #357739 solid;
    font-size: 0.9rem;
    color: white;
}
select {
    background-color: #55BA59;
    color: white;
    border: none;
    padding: .7rem;
}

p {
    line-height: 2.3rem;
    color: rgb(87, 87, 87);
}

.section-left {
    margin-right: 40px;
}
.section-right {
    width: 300px;
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    color: rgb(68, 68, 68);
}

.box-info {
    width: 100%;
    height: 25rem;
    background-color: #f6f6f6;
    border: 2px solid rgb(236, 236, 236);
}


h3 {
    color: #003F5E;
    font-size: 18px;
    padding-bottom: 15px;
    margin-top: 15px;
    border-bottom: 1px solid rgb(236, 236, 236);
}
.prefix-info {
    color: #003F5E;
    margin-right: 75px;
    width: 100px;
}
.informations {
    color: #00A9D9;
    font-weight: bold;
    width: 350px;
}
.informations-grey {
    color: rgb(73, 73, 73);
    width: 350px;
}
.info-row {
    width: 400px;
    display: flex;
    padding: 15px 0px;
    border-bottom: 1px solid rgb(236, 236, 236);
    justify-content: space-between;
}
.right-info {
    margin-left: 50px;
}